@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    background-color: #FCFCFC;
    color: #36454F;
    font-family: 'Oxygen', sans-serif;
}

h2#recent-work {
  color: #cea65a;
}

/* new stylized highlight SVG brush effect for links (homepage for now as test) */
a.stylized-link-homepage {
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=E8D4B0);
    text-decoration-color: #E8D4B0;
    text-decoration: none;
}

a, a:link {
    color: #36454F;
}

a:visited {
    color: #2E0219;
}

a:hover {
    background-color: #F6EEEE;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
}

a:active {
    color: #C2B6CE;
}


/* blog styles */
.bg-takeaways {
    background-color: rgba(193, 188, 172, 0.24);
    padding: 1.5rem !important;
}

h2.blog-heading {
    margin-bottom: .5rem !important;
    margin-top: 2.5rem !important;
}

nav a {
    color: #36454f;
}

@media (min-width: 992px) {
    .sticky-metadata {
        position: sticky;
        top: 1rem;
        align-self: start;
    }
}

.outcome-frame {
    background-color: #f0f2f5; /* light gray-blue to separate from #FCFCFC */
    border: 1px solid #dee2e6; /* Bootstrap’s light gray */
  }

  .hero-frame {
    background-color: #36454F; /* your brand color */
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .hero-frame img {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .hero-frame figcaption {
    color: #eaeaea;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  
  .project-ali {
    background-color: #f2cd0059;
  }

  .project-certificates {
    background-color: #275d38ed;
  }